*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height:10px;
    transition: all 0.3s  linear;
  
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #d3d2d2;
    border-radius:15px;

  }
  ::-webkit-scrollbar :hover{
    transition: all 0.3s  linear;
    height:15px;

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(184, 66, 66);
    border-radius:15px;
    transition: all 0.3s  linear;
    cursor: pointer;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(161, 16, 16);
    cursor:pointer;
    transition: all 0.3s  linear;
  }

body{
    background-color:#f1f1f1 !important;

}


.container-section h2{
    font-size:2.3rem;
    padding:5px 20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: rgba(255, 255, 255, 0.133);
}

header{
    background-color: rgba(255,255,255,0.8) !important;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    color: rgb(161, 16, 16) !important;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 3;

}
header nav{
  width:70%;
}

.icon-log-header{
  width:4rem;
}

.nav-link.active{
  border-bottom: 3px solid rgb(161, 16, 16) !important;
  color:rgb(161, 16, 16) !important;
  transition: all 0.3s  linear;
}

.nav-link:hover{
  color:rgb(161, 16, 16) !important;
  transition: all 0.3s  linear;
}
.hero-container{
    min-height: 80vh !important;
    height: 80%;
    display: flex;
    
    overflow: hidden !important;
    position: relative;
}
.slide-hero-content{
    width: 100%;
    height:85vh !important;
    display: flex;
    justify-content:center;
    align-items: center;
    overflow: hidden !important;
}
.hero-container::before{
  position: absolute;
content:'';
width: 100%;
height:100%;
left:0;
top:0;
background-color:rgba(0, 0, 0, 0.247);
z-index: 1;

}
.carousel-item{
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-footer-section-hero{
    bottom: 0;
    z-index: 1;

}
.content-footer-section-hero{
background-color:rgba(255, 255, 255, 0.699)
}
.content-footer-section-hero small{
color:rgb(161, 16, 16) !important;
font-weight: 600;
}

/*About */
.about-container{
    min-height: 80vh;
 z-index: 1;
}
.about-content-left{
    width: 60% !important;
    text-transform: capitalize;
}
.content-img-about{
    left: 10%;
    top: 10%;
    width:50%;
    height:100%;
    z-index: 1;
    scale: 1;
    transition: all 0.3s  linear;
    
}
.content-img-about img{
    scale: 1.2;
    transition: all 0.3s  linear;
    
}    
.content-img-about img:hover{
    scale: 1.4;
    transition: all 0.3s  linear;
    box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.5);
}


.content-img-about::after{
    content: ' ';
    z-index: -1;
    width: 35%;
    height:19rem;
    left:7%;
    top: -11%;
    border: 1px solid rgba(255,255,255,0.5);
    position:absolute;
    box-shadow: 0px 3px 6px rgba(255,255,255,0.5);
}

/*projects*/

/*slider*/


.content-section h2{
color:rgb(161, 16, 16);
}
.slider-section-se-container{
 
    padding-top:30px;
    background-color: rgb(244, 244, 244);
    padding: 10px 30px;

}

.slider-container {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding:10px;
    padding-bottom:20px;
    margin-top:20px;
  }
  
  .slider-item-image{
    display: flex;
    width:calc((100%/3)-10px);
    margin-left: 10px;
    scale: 1;
    transition: all 0.3s  linear;
    position: relative;
  }
  .slider-item-image img {
    width: 15rem;
    height:100%;
    object-fit: cover;
  }  
  .slider-item-image::before{
    content:" ";
    width: 0%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    background-color:rgba(161, 16, 16, 0.308);
    transition: all 0.3s  linear;
  }
   
  .slider-item-image::after{
    content:"Show";
    opacity: 0;
    display: flex;
    width: 0%;
    overflow: hidden;
    margin: auto;
    z-index: 1;
    justify-content: center;
    align-items: center;
    transition: display 0.3s  linear;
    background-color:rgba(255, 255, 255, 0.499);
    position: absolute;
    top: 50%;
    padding:10px 20px;
    color: rgb(161, 16, 16);
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
  }
   
  .slider-item-image:hover{
    scale: 1.04;
    z-index: 1;
    box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.5);
  }
  .slider-item-image:hover::after,
  .slider-item-image:hover::before{
    width: 100%;
    opacity: 1;
    transition: all 0.3s  linear;
 
  }


  .slider-item-row{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

/*contact*/

.container-contact{
    width: 100%;
    padding: 10px;
    min-height: 80vh;
    background-color:#f8f8f8;
}

.container-card-contact{
    display: flex;
    flex-direction:column;
    gap:1rem;
    justify-content:center;
    align-items: center;
}
.card-contact{
    background-color:#fff;
    width:60%;
    border-radius:5px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.03);
    display: flex;
    gap: 3rem;
    align-items: center;
    padding: 10px 20px; 
}

.card-contact .icon-contact{
    width:3rem;
    height:3rem;
    border-radius:50%;
    background-color:rgba(213, 213, 213, 0.21);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.07);
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.card-contact .icon-contact-text h5{
  font-size:16px
}

  /*map*/

  .container-map{
    width: 100%;
    height: 90vh;
    background-color:#ffffff;
    padding:20px;
  }

  .content-map{
    width: 70%;
    margin: auto;
    height: 60%;
    border-radius: 10px;
    overflow: hidden;

  }